<footer class="site-footer">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-half">
        <nav>
          <ul class="footer-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div><!--
   --><div class="grid__item one-half">
        <div class="apentu-info">
          Copyright 2017 Apentu. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
