.contact-form {
  width: 100%;
  margin-top: 40px;
  label {
    display: block;
    margin-bottom: 10px;
  }
  input,
  textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid $grey-color-light;
  }
}

.messenger-image {
  //margin-top: 50px;
  text-align: center;
}
