.site-header {
  height: 60px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.site-logo {
  height: 40px;
  margin: 10px 0;
}
.main-nav {
  display: inline-block;
  float: right;
}
.main-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
  li {
    line-height: 60px;
    float: left;
    &:last-child {
    }
    a {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      padding: 0 20px;
      color: $logo-blue;
      display: block;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        background-color: $logo-blue;
        color: white;
      }
    }
  }
}
