.hero {
  background-image: url("/assets/img/layout/gilles-lambert-8649.jpg");
  padding: 20px 0;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.hero-features {
  background-image: url("/assets/img/layout/StockSnap_O00MGHPXG6.jpg");
  //padding: 20px 0;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.hero-head {
  h1 {
    color: white;
  }
  a {
    margin-top: 20px;
  }
}

.message-container {
  padding: 20px;
  clear: both;
}

.messages {
  font-family: 'Open Sans';
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.message--user,
.message--apentu  {
  display: block;
  clear: both;
  transform: translateY(100px);
  opacity: 0;
  transition: all .3s;
  &:last-child {
    margin-bottom: 0;
  }
}

.js-message {
  transform: translate(0);
  opacity: 1;
}

.message--user span,
.message--apentu span {
  padding: 12px;
  margin-bottom: 12px;
  display: inline-block;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word;
  clear: both;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
}

.message--user span {
  float: right;
  background-color: #00D169;
  color: white;
}

.message--apentu span {
  float: left;
  background-color: white;
  border: 1px solid darken($grey-color-light, 10%);
}

.features {
  h1 {
    color: white;
    text-align: center;
  }
  span {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }
}

.home-info {
  
  h1 {
    color: $lightblue-one;
  }
  @media screen and (max-width: $palm) {
    text-align: center;
    margin-top: 15px;
  }
}
