---
layout: default
---

<div class="apentu-section apentu-section--platinum">
  <div class="wrapper">
    <div class="grid grid--center">
      <div class="grid__item palm--one-whole desk--two-thirds contact">
        <h1>{{ site.data.contact-info.title }}</h1>
        <span>{{ site.data.contact-info.blurb }} </span>
    <div class="messenger-image">
      <a href= "https://www.messenger.com/t/apentubot"> <img src="/assets/img/layout/facebook-messenger-reduced.png" style="width:150px" align="center"></a>
    </div>
    <div class="grid">
      <div class="grid__item">
        <form class="contact-form" action="https://www.formingo.co/submit/noble@apentu.com" method="POST">
          <label for="fullname">Full Name</label>
          <input type="text" name="fullname" value="">
          <label for="_replyto">Email</label>
          <input type="email" name="__replyto" value="">
          
          <label for="enquiry">Enquiry</label>
          <textarea name="enquiry" rows="8" cols="80"></textarea>
          <input class="apentu-btn apentu-btn--fullwidth apentu-btn--lightblue" type="submit" value="Submit Details">
        </form>
      </div>
    </div>
  </div>
</div>
