---
layout: default
published: true
---

<div class="apentu-section apentu-section--platinum">
  <div class="wrapper">
    <div class="grid grid--center">
      <div class="grid__item palm--one-whole desk--two-thirds contact">
        <h1>Contact Us</h1>
        <span>You can contact us using the form below, or on Facebook Messenger, of course.<a href= "https://www.messenger.com/t/apentubot"> <img src="/assets/img/layout/facebook-messenger.png" style="width:304px"></a> </span>
      </div>
    </div>
    <div class="grid">
      <div class="grid__item">
        <form class="contact-form" action="https://www.formingo.co/submit/tim@apentu.com" method="POST">
          <label for="fullname">Full Name</label>
          <input type="text" name="fullname" value="">
          <label for="email">Email</label>
          <input type="text" name="_replyto" value="">
          <input type="hidden" name="__redirect" value="https://apentu.github.io">
          <label for="enquiry">Enquiry</label>
          <textarea name="enquiry" rows="8" cols="80"></textarea>
          <input class="apentu-btn apentu-btn--fullwidth apentu-btn--lightblue" type="submit" value="Submit Details">
        </form>
      </div>
    </div>
  </div>
</div>
