---
layout: default
---

<section>
  <div class="hero">
    <div class="apentu-section">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item one-half hero-head">
            <h1>{{ site.data.homepage.hero }}</h1>
            <a class="apentu-btn apentu-btn--clear" href="/contact">{{ site.data.homepage.hero-button }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="apentu-section apentu-section--platinum">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item palm--one-whole three-sixths">
            <div class="message-container">
              <ul class="messages">
                {% for message in site.data.messages %}
                <li class="message--{{ message.type }}"><span>{{ message.message }}</span></li>
                {% endfor %}
              </ul>
            </div>
        </div><!--

     --><div class="grid__item two-sixths push--desk--one-sixth lap--three-sixths palm--one-whole home-info">
          <h1>{{ site.data.homepage.title }}</h1>
          {% for paragraph in site.data.homepage.content %}
          <p>{{ paragraph }}</p>
          {% endfor %}
          <a class="apentu-btn apentu-btn--lightblue apentu-btn--floatright apentu-btn--fullwidth" href="#">{{ site.data.homepage.button }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="apentu-section apentu-section--darkblue hero-features">
    <div class="wrapper">
      <div class="grid grid--center">
        <div class="grid__item palm--one-whole desk--two-thirds features">
          <h1>{{ site.data.home-features.feature-heading }}</h1>
          <span>{{ site.data.home-features.feature-text }}</span>
        </div>
      </div>
      <div class="grid">
        {% for feature in site.data.home-features.card-features %}
        {% if forloop.first == true %}
        <div class="grid__item palm--one-whole lap--one-third desk--one-third">
          {% else %}
        --><div class="grid__item palm--one-whole lap--one-third desk--one-third">
        {% endif %}
          <div class="apentu-card">
            <div class="apentu-card__header">
              <span class="apentu-card__header__icon">{{ feature.icon }}</span>
              <span class="apentu-card__header__title">{{ feature.title }}</span>
            </div>
            <div class="apentu-card__content">
              {{ feature.text }}
            </div>
          </div>
        {% if forloop.last == true %}
      </div>
      {% else %}
    </div>{{ site.data.helper.comment-tag }}
    {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
