---
layout: default
---
<section>
  <div class="hero">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item one-half hero-head">
          <h1>Never miss a placement opportunity with Apentu.</h1>
          <a class="apentu-btn apentu-btn--clear" href="#">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-half">
          <div class="message-container">
            <ul class="messages">
              <li class="message--user"><span>ththhrthrthrth hurihui rhguirg irugirigh riguirhg ruighreuiguier hguiergiu herugier huighierg</span></li>
              <li class="message--apentu"><span>reghrgur giuhrgui rhgihrguirgiu heriug reuigh ruigh uriegh uirhg uirhg uirh</span></li>
              <li class="message--user"><span>rgjirojg orijgior giorjgoi jroigjr oigor g</span></li>
              <li class="message--apentu"><span>rghruioghriugh ruighr ugih ruigh riug hirg</span></li>
              <li class="message--user"><span>regjrhgriuo ghuihuig uirg iurhegiuh eruig erg</span></li>
              <li class="message--apentu"><span>rghuir giurh guirhe guihr eguih righ reig</span></li>
            </ul>
          </div>
      </div><!--

   --><div class="grid__item one-half">
        <h1>Lorem Ipsum</h1>
        <p>erjgiorejgoi rjgiori ogoirg joirjg orjgiorgiojrgiojroigrjgiojroigjorgjoiregoieroigj roigj iogjriog iore goijriogior gjor</p>
        <p>erjgiorejgoi rjgiori ogoirg joirjg orjgiorgiojrgiojroigrjgiojroigjorgjoiregoieroigj roigj iogjriog iore goijriogior gjor</p>
        <p>erjgiorejgoi rjgiori ogoirg joirjg orjgiorgiojrgiojroigrjgiojroigjorgjoiregoieroigj roigj iogjriog iore goijriogior gjor</p>
        <p>erjgiorejgoi rjgiori ogoirg joirjg orjgiorgiojrgiojroigrjgiojroigjorgjoiregoieroigj roigj iogjriog iore goijriogior gjor</p>
        <a class="apentu-btn apentu-btn--lightblue apentu-btn--floatright" href="#">See Demonstration</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="apentu-section apentu-section--darkblue">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item one-third">
          <div class="apentu-card">
            <div class="apentu-card__header">
              <span class="apentu-card__header__title">Lorem Ipsum</span>
              <span class="apentu-card__header__icon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
            </div>
          </div>
        </div><!--

     --><div class="grid__item one-third">
         <div class="apentu-card">
           <div class="apentu-card__header">
             <span class="apentu-card__header__title">Lorem Ipsum</span>
             <span class="apentu-card__header__icon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
           </div>
         </div>
        </div><!--

     --><div class="grid__item one-third">
         <div class="apentu-card">
           <div class="apentu-card__header">
             <span class="apentu-card__header__title">Lorem Ipsum</span>
             <span class="apentu-card__header__icon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
